<!DOCTYPE html>
<html>
  <head>
    <title>Flyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tops', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="container">
        <h1>FLY INTO TOMORROW</h1>
        <p>FLYFEは飛行機ファンのみなさまのコミュニティ作りを支援するサービスです。</p>
        <p>搭乗レポートや機体の写真をシェアしてみましょう！</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">新規登録はこちら</a>
          <p>or</p>
          <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
          <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="/footer_logo.png">
        <p>let's join aviation community</p>
      </div>
    </footer>
  </body>
</html>