@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: #333; 
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Copperplate";
  z-index: 10;
}

.photo-wrapper {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  text-align: center;
  color: #5f5d60;
  position: relative;
}

.photo-detail {
  width: 90%;
  margin: 5% 5%;
}

.photo-detail-data {
  padding-top: 20px;
  margin-bottom: 10px;
  line-height: 15px;
}

.photo-detail img {
  width: 90%;
  text-align: center;
}

.photo-content {
  padding-left: 20px;
  width: 80%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
}

.photo-content p {
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  width: 100%;
  left: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
