@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: #333; 
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Copperplate";
  z-index: 10;
}

.photos {
  padding: 80px 5px 100px 20px;
  text-align: left;
  color: #5f5d60;
  position: relative;
  width: 100%;
}

.photos a {
  color: #5f5d60;
  text-decoration: none;
}

.photo {
  float: left;
  border-radius: 4px;
  width: 17.6%;
  margin: 10px 22px 10px 22px;
  background-color: rgba(255, 255, 255, 0.9);
}

.photo-data {
  margin-bottom: 5px;
  line-height: 15px;
}
.photo img {
  margin: 10px 12px;
  text-align: center;
  width: 145px;
  height:90px;
}

.photo-contents {
  padding-left: 20px;
  width: 80%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 15px;
}

.photo-contents p {
}

.photo-detail {
  width: 90%;
  float: left;
  border-radius: 4px;
  margin: 10px 22px 10px 22px;
  background-color: rgba(255, 255, 255, 0.9);
}

.photo-detail img {
  width: 80%;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  width: 100%;
  left: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
