@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: #333; 
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Copperplate";
  z-index: 10;
}

.report-wrapper {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  text-align: center;
  color: #5f5d60;
  position: relative;
}

.table-style { 
    border-collapse: collapse;
    border: 1px solid #5f5d60; 
    border-top-style:none;
    border-bottom-style:none;
    border-left-style:none;
    padding-bottom: 30px;
    width: 35%;
}

.table-style-right { 
    border-collapse: collapse;
    border-top-style:none;
    border-bottom-style:none;
    border-left-style:none;
    padding-bottom: 30px;
    width: 35%;
}

.report-wrapper h1 {
  width: 60%;
  color: #5f5d60;
  text-align: left;
  border-bottom: 1px solid #5f5d60;
  margin-top: 5%;
  padding-top: 5%;
  margin-bottom: 0;
  padding-left: 1%;
  margin-left: 3%;
}

.report-detail {
  position: relative;
  width: 90%;
  margin: 3% 5% 5% 5%;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 3%;
  padding-left: 3%;
  text-align: left;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}

.report-detail-datas {
  width: 100% ;
  margin-left: 9%;
  text-align: left;
}
.report-detail-data {
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 30px;
  font-size: 20px;
  width: 42%;
  height: 260px;
  float: left;
}

.report-detail img {
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
  padding-bottom: 0;
  padding-left: 0;
  float: left;
}

.tag {
  position: relative;
  width: 31%;
  top: 80%;
  float: left;
}

.tag p {
  display: inline-block;
  position: absolute;
  margin-right: 0;
  font-size: 20px;
  width: 60%;
  left: 25%;
  top: 30%;
}

.tag img {
  width: 100%;
  margin-left: 5%;
  margin-top: 0;
  padding-bottom: 2%;
}

.report-content {
  padding-left: 20px;
  width: 80%;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
}

.report-content p {
  width: 25%;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  width: 100%;
  left: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
